.place__website {
    max-width: 456px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media all and (max-width: 960px) {
    .place__website {
        max-width: 352px;
    }
}

@media all and (max-width: 690px) {
    .place__website {
        max-width: 288px;
        padding: 0 16px
    }
}