.header {
    max-width: 1280px;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 56px;
}

@media all and (max-width: 1025px) {
    .header {
        padding-bottom: 48px;
    }
}

@media all and (max-width: 769px) {
    .header {
        padding: 28px 24px 48px
    }
}

@media all and (max-width: 321px) {
    .header {
        min-height: 42px;
        padding: 16px 16px 48px
    }
}