.place__link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    align-self: flex-start;
    color: #FFFFFF;
    grid-row: span 2;
    opacity: 1;
    transition: opacity 0.6s linear;
}

.place__link:hover {
    opacity: 0.8;
}

